*.idea/*
daily/*
src/venv
training/*
*.log
*__pycache__*
data/*
train/*
source_data/*
model/*
*nohup.out*
*deu.mt*
*test-true-case-export.en*
*test-true-case-import.en*
generated_approaches/*
!generated_approaches/*.zip
word_embeddings/*